body{
    margin:0;
    padding:0;
    background-image: url(stadium.jpg);
    background-size: cover;
    font-family: "Helvetica Neue";
    
}
.container{
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%) ;
}

.card{
    padding:60px 40px 50px 40px;
    background: rgb(50,50,50);
    border-radius: 10px;
}

#name{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 20px;
    color:white;
}

#button{
    border-radius: 20px;
    padding: 10px 20px;
    background: tomato;
    color: white;
    margin-top: 20px;
    border:none;
    outline: none;
    margin-left: 50px;
}

#button:hover{
    background-color: yellowgreen;
    color:black;
    cursor: pointer;

}

a{
    font-size:17px;
    color:red;
}

img{
    border-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: -40px;
}

.menu-bar{
    background: rgb(12, 12, 11);
    text-align:center;
}

.menu-bar ul{
    list-style:none;
    display: inline-flex;
}

.menu-bar ul li{
    width: 180px;
    margin: 15px;
    
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.hover:hover{
    background: yellowgreen;
    color:black;
    border-radius: 100px;
}


   
